@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Fallback color if image isn't found */
  background-color: #a79987;
}

.title-text {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.stroke-black-title {
  -webkit-text-stroke: 16px black;
  paint-order: stroke fill;
}

.stroke-white {
  -webkit-text-stroke: 3px white;
  paint-order: stroke fill;
}