@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /** Base colors */
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;

  /** Theme primary colors */
  --clr-primary-a0: #6bcbff;
  --clr-primary-a10: #80d1ff;
  --clr-primary-a20: #93d6ff;
  --clr-primary-a30: #a5dcff;

  /** Theme surface colors */
  --clr-surface-a0: #121212;
  --clr-surface-a10: #282828;
  --clr-surface-a20: #3f3f3f;

  /** Success colors */
  --clr-success-a0: #22946e;
  --clr-success-a10: #47d5a6;
  --clr-success-a20: #9ae8ce;

  /** Warning colors */
  --clr-warning-a0: #a87a2a;
  --clr-warning-a10: #d7ac61;
  --clr-warning-a20: #ecd7b2;

  /** Danger colors */
  --clr-danger-a0: #9c2121;
  --clr-danger-a10: #d94a4a;
  --clr-danger-a20: #eb9e9e;

  /** Info colors */
  --clr-info-a0: #21498a;
  --clr-info-a10: #4077d1;
  --clr-info-a20: #92b2e5;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-surface-a10);
}

.code-font {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
}

/** Examples */
.bg-primary {
 color: var(--clr-primary-a0);
 background-color: var(--clr-surface-a0);
}

.bg-secondary {
  color: var(--clr-primary-a10);
  background-color: var(--clr-surface-a10);
}

.bg-tertiary {
  color: var(--clr-primary-a20);
  background-color: var(--clr-surface-a20);
}

.primary-text {
 color: var(--clr-primary-a0);
}

.secondary-text {
 color: var(--clr-primary-a10);
}

.tertiary-text {
 color: var(--clr-primary-a20);
}

.text-light {
 color: var(--clr-light-a0);
}

.text-dark {
  color: var(--clr-dark-a0);
}

.border-primary {
  border-color: var(--clr-surface-a20);
  border-width: 1px;
}

.border-primary:focus {
  border-color: var(--clr-primary-a0);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.bg-info {
  background-color: var(--clr-info-a0);
  color: var(--clr-light-a0);
}

.warning {
  background-color: var(--clr-warning-a10);
  color: var(--clr-dark-a0);
  border-left: var(--clr-warning-a0);
  border-left-width: 4px;
  border-left-style: solid;
}