@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: repeat;
  background-position: center top;
  /* Keep background fixed so content scrolls over the corkboard */
  background-attachment: scroll;
  /* Fallback color if image isn't found */
  background-color: #d2b48c;
}

.stroke-black-title {
  -webkit-text-stroke: 16px black;
  paint-order: stroke fill;
}

.stroke-white {
  -webkit-text-stroke: 3px white;
  paint-order: stroke fill;
}