body {
  margin: 0;
  font-family: "Cherry Bomb One", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Seamless corkboard background from public folder */
  background-image: url("../public/corkboard_background.png");
  background-repeat: repeat;
  background-position: center top;
  /* Keep background fixed so content scrolls over the corkboard */
  background-attachment: fixed;
  /* Fallback color if image isn't found */
  background-color: #d2b48c;
}

code {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}
